body {
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  background-color: #008080;
  position: relative; /* Add relative positioning to the body */
}

button {
  font-family: monospace;
}

.up_bar {
  display: flex; /* Use flexbox for horizontal alignment */
  justify-content: flex-start; /* Align items to the start (left) of the main axis */
  align-items: center; /* Center items along the cross axis */
  padding-left: 2px;
  padding-top: 1px;
  background-color: lightgray;
  border-top: 2px solid white;
  border-bottom: 2px solid lightgray;
  position: fixed; /* Position the up_bar fixed on the page */
  bottom: 0; /* Place the up_bar at the bottom */
  width: 100%; /* Set the width to 100% to occupy the full width */
  height: 23px; /* Optional: Set a specific height for the up_bar */
}

/* Center the container that wraps the audio element */
.audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



button:hover {
  cursor: pointer;
}

/* Style for the audio element */
audio {
  width: 100%;
  max-width: 400px; /* You can adjust the width as needed */

}
